/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f7fb;
    color:#333;
}

.hero{
    background:linear-gradient(135deg,#0f172a,#2563eb);
    color:white;
    padding:40px 60px 80px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    font-size:36px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
    transition:0.3s;
}

.menu a:hover{
    color:#ffd54f;
}

.hero-content{
    max-width:700px;
    margin-top:80px;
}

.hero-content h2{
    font-size:48px;
    margin-bottom:25px;
}

.hero-content p{
    font-size:20px;
    line-height:1.7;
}

button{
    margin-top:25px;
    background:#ffd54f;
    color:#111;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

.services{
    padding:70px 40px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:35px;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.about{
    padding:70px 40px;
    text-align:center;
    background:white;
}

.contact{
    padding:70px 40px;
    text-align:center;
    background:#eef4ff;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:25px;
}.hero-buttons{
    margin-top:30px;
}

.primary-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    margin-right:15px;
}

.primary-btn:hover{
    background:#1d4ed8;
}

.secondary-btn{
    background:transparent;
    color:white;
    border:2px solid white;
    padding:15px 35px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.secondary-btn:hover{
    background:white;
    color:#111827;
}.about {
    padding: 80px 10%;
}

.about h2 {
    margin-bottom: 20px;
}

.about p {
    margin-top: 20px;
    line-height: 1.8;
}.services{
    padding:80px 10%;
    text-align:center;
}

.services h2{
    font-size:36px;
    margin-bottom:50px;
}

.services-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#1e293b;
    color:white;
    padding:30px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    margin-bottom:15px;
}

.card p{
    line-height:1.7;
}
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: #050816;
    color: white;
}

.hero h1 {
    font-size: 60px;
    font-weight: 800;
}

.hero h2 {
    font-size: 32px;
    margin: 20px 0;
}

.hero p {
    max-width: 700px;
    font-size: 18px;
    line-height: 1.6;
    color: #cbd5e1;
}

.btn {
    margin-top: 30px;
    padding: 14px 35px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.coming-soon {
    margin-top: 40px;
    color: #38bdf8;
} */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f7fb;
    color:#333;
}

.hero{
    background:linear-gradient(135deg,#0f172a,#2563eb);
    color:white;
    padding:40px 60px 80px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    font-size:36px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
    transition:0.3s;
}

.menu a:hover{
    color:#ffd54f;
}

.hero-content{
    max-width:700px;
    margin-top:80px;
}

.hero-content h2{
    font-size:48px;
    margin-bottom:25px;
}

.hero-content p{
    font-size:20px;
    line-height:1.7;
}

button{
    margin-top:25px;
    background:#ffd54f;
    color:#111;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

.services{
    padding:70px 40px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:35px;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.about{
    padding:70px 40px;
    text-align:center;
    background:white;
}

.contact{
    padding:70px 40px;
    text-align:center;
    background:#eef4ff;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:25px;
}.hero-buttons{
    margin-top:30px;
}

.primary-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    margin-right:15px;
}

.primary-btn:hover{
    background:#1d4ed8;
}

.secondary-btn{
    background:transparent;
    color:white;
    border:2px solid white;
    padding:15px 35px;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.secondary-btn:hover{
    background:white;
    color:#111827;
}.about {
    padding: 80px 10%;
}

.about h2 {
    margin-bottom: 20px;
}

.about p {
    margin-top: 20px;
    line-height: 1.8;
}.services{
    padding:80px 10%;
    text-align:center;
}

.services h2{
    font-size:36px;
    margin-bottom:50px;
}

.services-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#1e293b;
    color:white;
    padding:30px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    margin-bottom:15px;
}

.card p{
    line-height:1.7;
}.hero{
    min-height:100vh;
   background: linear-gradient(135deg, #667eea, #764ba2);}